.tree__container {
  gap: 1rem;
  display: flex;
  flex-direction: column;

  min-width: 10rem;
  width: fit-content;

  background-color: white;

  padding: 1rem;
  border-radius: 6px;
  border: 1px solid hsl(0, 0%, 75%);
}

.tree {
  padding-left: 0.7rem;
  display: flex;
  flex-direction: column;
}

.tree__nameContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tree__node {
  gap: 0.5rem;
  display: flex;
  align-items: center;

  padding: 0.5rem;
  border-radius: 0.5rem;

  cursor: pointer;
}

.tree__node:hover {
  background-color: var(--primary-hover-40);
}

.tree__contextMenu {
  visibility: hidden;

  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;

  flex: 1;
}

.contextMenu__btn--edit:hover,
.contextMenu__btn--add:hover {
  stroke: hsl(0, 0%, 48%);
}

.contextMenu__btn--edit:active,
.contextMenu__btn--add:active {
  stroke: var(--primary);
}

.tree__node--selected {
  background-color: var(--primary-hover-40);
}

.tree__node--selected > .tree__contextMenu {
  visibility: visible;
}

.tree_inputForm {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.tree__icon {
  align-self: flex-start;
}

.searchBox {
  display: flex;
  gap: 0.5rem;
}

.searchBox__btnIcon {
  stroke: white;
}

.searchBox__btn:hover {
  background-color: var(--primary-hover);
}

.searchBox__btn:focus > .searchBox__btnIcon {
  stroke: rgb(50, 51, 105);
}

.searchBox__input,
.nameInput {
  border-radius: 0.3rem;
  border: 1px solid black;
  padding: 0.5rem;
}

.searchBox__btn,
.nameInput__btn,
.nameInput__btn--destructive {
  background-color: var(--primary);
  padding: 0.5rem 1rem;

  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
}

.nameInput__btn {
  background-color: hsl(0, 0%, 51%);
}

.nameInput__btn:hover {
  background-color: hsl(0, 0%, 65%);
}

.nameInput__btn:active {
  color: rgb(50, 51, 105);
}

.nameInput__btn--destructive {
  background-color: hsl(354, 98%, 62%);
}

.nameInput__btn--destructive:hover {
  background-color: hsl(354, 86%, 69%);
}

.nameInput__btn--destructive:active {
  background-color: hsl(354, 96%, 52%);
}

.inputForm__btnContainer {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}
